@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage title</title>
  <link rel="stylesheet" href="/assets/main.css" />
</head>
<body>

  <div id="react-root"></div>

  <h1>@Model.Value("pageTitle")</h1>
  <p>This is a basic paragraph</p>

<script src="/assets/main.js"></script>
</body>
</html>